<style>
   .footer {
   float: right;
   display: flex;
   align-items: centre;
   list-style-type: none;
}
   .image {
      float: right;
      padding: 5px;
   }
</style>

<div class=footer">
  <ul class="image">

     {% if site.footer.associations %}
      {% for associations in site.footer.associations %}
        {% if associations.img and associations.url %}
        <li><a href="{{ associations.url }}"><img src="{{ associations.img }}"></a></li>
        {% endif %}
      {% endfor %}
    {% endif %}
     
 </ul>
</div>
