<style>
   .footer {
   float: right;
   display: flex;
   align-items: centre;
   list-style-type: none;
}
   .image {
      float: right;
      padding: 5px;
      list-style-type: none;
   }
   
   .page__footer-follow {
  li {
    font-family: $sans-serif-narrow;
    font-size: 0.5em;
    text-transform: none;
  }
   }
</style>

<div class=footer">

     {% if site.footer.associations %}
      {% for associations in site.footer.associations %}
        {% if associations.img and associations.url %}
        <div class="image"><a href="{{ associations.url }}"><img src="{{ associations.img }}"></a></div>
        {% endif %}
      {% endfor %}
    {% endif %}
     
</div>
