<!-- start custom footer snippets -->
<style>
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: Left;
  float: left;
}

.footer--icons {
  display: flex;
  align-items: flex-right;
  justify-content: right;
}

.footer--icons > img {
  margin: 5px;
}
</style>

<div class="footer">
  <a href="/termsandconditions/">Terms and Conditions</a>
  <div class="footer--icons">
    <a href="https://www.mountain-training.org"><img src="assets/images/mt-logo.png"></a>
    <img src="static/website/media/iconfinder_1964405_linkedin_logo_media_social_icon.svg" alt="discord"> 
  </div>
</div>
<!-- end custom footer snippets -->
